/* ----------------------------------body*/
    li {
        list-style: none;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    p{
        margin-bottom: 16px;
    }

    h6{
        margin: 8px;
        font-size: 1rem;
    }
    
    .flex {
        display: flex;
    }

    /* ----------------------------------footer*/

    footer{
        margin-top: 100px;
    }

    /* ----------------------------------footer_1*/
    .footer_1{
        width: 100%;
        background-color:lightgray;
    }
    .footer_1 ul{
        width: 75vw;
        margin: 0 auto;
        justify-content: center;
    }

    .footer_1 li{
        width: 15vw;
        text-align: center;
    } 

    .footer_1 img{
        width: 40%;
        margin: 30px auto;
    }

     .footer_1 h6{
         margin-bottom: 18px;
     }

    .footer_1 p{
        font-size: 12px;
        letter-spacing: 5px;
        margin-bottom: 70px;
    }

    /* ----------------------------------footer_2*/
    .footer_2 {
        width: 100%;
        background:url("../images/footer_bg_02.jpg") no-repeat;
        background-size:cover;
    }

    .footer_3 .f_logo{
        width: 35%;
    }

    /* f_menu */
    .footer_3 .f_menu{
        width: 31.3%;
        color: #fff;
        margin-top: 100px;
        margin-bottom: 80px;
        justify-content: center;
    }

    .footer_3 .f_menu ul{
        width: 25%;

    }

    .footer_3 .f_menu ul{
        text-align: center;
        line-height: 12px;
    }

    /* .footer_3 .f_menu h6{
        margin-bottom: 20px;
    } */

    .footer_3 .f_menu p{
        font-size: 10px;
        color: #c2a883;
    }


    /* f_talk */
    .footer_3 p{
        color: #c2a883;
        font-size: 10px;
    }   

    .footer_3 .f_talk{
        width: 35%;

    }
    
    .f_talk_2{
        margin-top: 70px;
        padding: 30px 0 30px 30px;
        background-color: rgba(0, 0, 0, 0.687);
    }
    .footer_3 .address{
        border-bottom: #fff solid 1.5px;
    }
    
    .footer_3 .address ul{
        line-height: 12px;
        margin: 0;
    }

    .footer_3 .f_talk h6{
        color: #fff;
        margin: 0 40px 0 0;
        /* padding-top: 6px; */
    }

    .footer_3 .text{
        border-bottom: #8d94a2 solid 1px;
    }

    .footer_3 .text h6{
        margin: 10px 0  10px 0;
    }
    /* input */
    .send{
        width: 50%;
        height: 28px;
        background:#bfbfbf;
    }

    .send_1{
        border: none;
        margin: 0;
        /* height: 22px;
        width: 44px; */
        background-color:#c2a883;
        font-size: 1rem;
        padding: 5px 10px;
        color: #fff;
    }

     /* ----------------------------------footer_4*/
     .footer_4{
         text-align: center;
         padding-bottom: 20px;
     }
    .footer_4 p{
        color: #c2a883;
        font-size: 10px;
        margin: 0;
        padding: 20px 0 10px 0 ;
        border-top: #8d94a2 solid 1px;

    }