/* ----------------------------------------------------- 背景底圖區 */

/* ------表格樣式------ */

.input-style {
    border: none;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid #858a8f;
    outline: none;
    padding-left: 10px;
    margin-bottom: 5px;
    -webkit-box-shadow: 000px 1000px white inset;
}

.login-input-style {
    background: transparent;
    border: 1px solid #858a8f;
    outline: none;
    padding-left: 10px;
    margin-bottom: 5px;
    -webkit-box-shadow: 000px 1000px white inset;
    font-size: 1rem;
    width: 300px;
    border-radius: 0;
}

.select-style {
    border: none;
    background: transparent;
    border-bottom: 1px solid #858a8f;
    outline: none;
    padding-left: 10px;
    margin-bottom: 5px;
}


/* ------註冊表格 ----- */
.register-form {
    margin: 10px auto 0 auto;
    padding: 5px 10px;
}

form label {
    padding-bottom: 15px;
    color: #4d5258;
    font-size: 1.25rem;
}

form input {
    padding: 8px 0;
    color: #4d5258;
    font-size: 1.3rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}

select,
option {
    color: #4d5258;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}

.bd-select {
    justify-content: space-between;
    margin-top: 10px;
}

.span-note {
    color: #cfb06d;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

small {
    color: #be1b1b;
    font-size: 1rem;
}

.btn-submit {
    background: #243B55;
    color: #ffffff;
    font-family: 'Noto Sans TC', sans-serif;
    border: none;
    padding: 10px 20px;
    /* margin: 30px 10px 0 10px; */
    cursor: pointer;
}

.btn-submit:hover {
    background: #4a6583;
    color: #ffffff;
}

/* ------登入範圍區 ----- */

.login-bg-con {
    /* position: relative; */
    /* width: 75%; */
    /* height: 100vh; */
    /* background: rgba(36, 59, 85, 0.8); */
}

.login-con {
    /* height: 100vh; */
    align-items: center;
    /* margin: auto 0; */
}

.login-row {
    padding: 40px 30px;
    width: 100%;
    /* height: 600px; */
    background: url(../images/login_bg_03.jpg) no-repeat center center;
    background-size: cover;
}

.login-row h2 {
    text-align: center;
    /* padding-top: 25px; */
    /* padding-bottom: 20px; */
    letter-spacing: 10px;
    font-size: 2.2rem;
    color: #243B55;
    font-weight: 300;
}


.login-row a:hover{
   text-decoration: none;
}

/* ------左邊右邊登入 ----- */
.login-left form{
    flex-direction: column;
    align-items: center;
}
.login-left a{
   color: #4d5258;
   padding: 0 25px;
}
.login-left form div{
    width: 100%;
}
.login-left{
    border-right: 1px solid #858a8f;
}
.login-left,
.login-right {
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.login-right p{
   line-height: 1.8;
   color: #4d5258;
   font-size: 1.1rem;
    padding: 0 20px;
}
.login-link{
    justify-content: space-evenly;
}

.login-input-outline, .login-input-outline input{
    width: 100%;
    margin-top: 5px;
}
/* ---登入按鈕寬度--- */       
.btn-login{
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    
}
/* ---首次登入--- */
.first-shop{
    text-decoration: none;
    border: 1px solid #243B55;
    display: block;
    line-height: 1.15;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4d5258;
   
}
.first-shop:hover{
    border: 1px solid #4a6583;
    background-color: #4a6583;
    color: #ffffff;
}

/* ---------蓋plugin------------------ */
/* .mfp-close-btn-in .mfp-close{
    color: #ffffff;
} */
.mfp-bg{
    background: #243B55;
    /*opacity: 0.8;*/
}
.mfp-container{
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

/* ----------------------------------------------------- login RWD */
@media screen and (max-width:768px){
    .login-bg-con{
        height: auto;
    }
    .con-1100-px{
        width: 100%;
        height: auto;
    }

    .login-row{
        flex-direction: column;
        height: auto;
        width: 100%;
        /*margin: auto;*/
    }
    .login-row h2{
        font-size: 7vmin;
        font-weight: 500;
    }
    .login-left{
        border: none;
        border-bottom: 1px dotted #858a8f;
        padding-bottom: 30px;
    }
    .login-left, .login-right{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .login-right p{
        margin-bottom: 40px;
    }
    .mfp-container{
        padding-right: 0;
        padding-left: 0;
    }
}
@media screen and (max-width:520px){
    .login-input-outline{
        margin-bottom: 0;
    }
    .login-link{
        margin: 10px 0 25px 0;
    }
    .login-right p{
        font-size: 0.9rem;
    }
    .mfp-bg{
        background: transparent;

    }
    .login-row h2{
        margin-bottom: 20px;
    }
}
