@import url('https://fonts.googleapis.com/css?family=Marko+One|Mukta+Malar:200,300,400,500,600,700,800|Noto+Sans+TC:100,300,400,500,700,900|Merriweather:300,400,700,900|Noto+Serif+TC:200,300,400,500,600,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: 'Marko One', serif;
    font-family: 'Mukta Malar', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans TC', sans-serif;
}
 /* ---------寬度--------- */
 .con-1440 {
    max-width: 75vw;
    margin: 0 auto;
}
.con-1100-px {
    max-width: 1100px;
    margin: 0 auto;
}

.mb-1-2 {
    width: 50%;
}
.mb-1-3{
    width: 33.33%;
}
.mb-2-3, .mb-4-6 {
    width: 66.67%;
}
.mb-1-4{
    width: 25%;
}
.mb-1-5 {
    width: 20%;
}
.mb-3-5 {
    width: 60%;
}
.mb-4-5{
    width: 80%;
}
.mb-1-6 {
    width: 16.67%;
}
.mb-5-6 {
    width: 83.33%;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.flex-5 {
    flex: 5;
}

/* --------樣式--------- */
.fixed {
    position: fixed;
}
.relative {
    position: relative;
}
.d-flex {
    display: flex;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.ff-noto {
    font-family: 'Noto Sans TC', sans-serif;
}
.ff-marko {
    font-family: 'Marko One', serif;
}
.ff-mukta {
    font-family: 'Mukta Malar', sans-serif;
}
.ff-merri{
    font-family: 'Merriweather', serif;
}
.fw-100 {
    font-weight: 100;
}
.fw-200 {
    font-weight: 200;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-700 {
    font-weight: 700;
}
.nonstyle-a {
    text-decoration: none;
}
.nonstyle-ul {
    list-style: none;
}
li{
    list-style: none;
}
.text-center {
    text-align: center;
}
.align-item-center{
    align-items: center;
}

/* ----- 關於距離 ---- */
.p-r-10{
    padding-right: 10px;
}
.p-b-10{
    padding-bottom: 10px;
}
.p-b-40{
    padding-bottom: 40px;
}
.p-l-55{
    padding-left: 55px;
}
.m-y-10{
    margin: 10px 0;
}
.m-y-20{
    margin: 20px 0;
}
.m-y-35{
    margin: 35px 0;
}
.m-t-40{
    margin-top: 40px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-50{
    margin-bottom: 50px;
}
/* ------一個空白的區塊------- */
.padding-area {
    padding: 70px;
}
.padding-area-140 {
    padding: 140px;
}
/* --------表單隱藏-------- */
.form-hide, .d-none{
    display: none;
}

/* --------表單樣式-------- */

.input-style{
    border: none;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid #858a8f;
    outline: none;
    padding-left:10px;
    margin-bottom: 5px;
    -webkit-box-shadow: 000px 1000px white inset;
    border-radius: 0;
}
